# Inference Engine Key
FEATHERLESS_API_KEY=API_KEY_HERE
FEATHERLESS_BASE_URL=https://api.featherless.ai/v1

# Band.ai Agent Authentication Keys 
TRIAGE_AGENT_KEY=AGENT_KEY_HERE
ENGINEER_AGENT_KEY=AGENT_KEY HERE
REVIEWER_AGENT_KEY=AGENT KEY HERE

# Band.ai Agent UUIDs 
TRIAGE_UUID=UUID_HERE
ENGINEER_UUID=UUID_HERE
REVIEWER_UUID=UUID_HERE